@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** END of RESET *****/ 
/***for all***/
body {
    font-family: arial, clean, sans-serif;
    
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}

hr {
    width: 90%;
 
}

.clear {
    clear: both;
}

/***home page***/
#searchbox
{
    float: left;  
    padding: 15px 0 0 5%;
}

#search {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-width: thin;
    border-color: #777; 
}

input {
    outline: none; 
}
#submit {
    border:none;
    background: #eee;
}

.logo p {
    margin: 70px 0;
    text-align: center;
}

.meta {
    text-align: right;
    padding: 15px 5% 0 0;
}

.meta ul li {
    display: inline-block; 
    font-size: 11px;
    font-family: arial, clean, sans-serif;
    font-weight: 300;
    padding-right: 3%;
}

.meta ul li:last-child {
    padding-right: 0;
}

.meta ul li:last-child {
    padding-right: 0;
}

.main {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}
/***.main ul li:last-child {
    padding-right: 0;
}***/

.target {
    float: left;
    padding-right: 5%;
}

.target p{
    text-transform: uppercase;
    padding-bottom: 10px;
}

.detail li{
    float: none;
    
    text-align: left;
}

.color1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: #fff; 
    margin: 5px 0;
}

.color2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: #f7233d; 
    margin: 5px 0;
}

.color3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: #40a0ff; 
    margin: 5px 0;
}

.color4 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: #8aff9b; 
    margin: 5px 0;
}

.color5 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: #eff42a; 
    margin: 5px 0;
}

.color6 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: #333; 
    margin: 5px 0;
}


/**nav ul ul {
    position: absolute;
    display: none;
}

nav ul li:hover ul {
    display: block;
    margin: 10px;
    padding: 5px;
    background: #eee;
}**/


section {
    width: 90%;
    margin: 0 auto;
    
}

.column {
    float: left;
    margin: 30px 0 0 3%;
    width: 31.3333333%;   
}

.column:first-child {
    margin: 30px 0 0 0;
}

.show {
    position: relative;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    background: #eee;
    border: 1px solid #ccc;
}

.mainimg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.like {
    width: 13%;
    height: auto;
    position: absolute;
    top: 20px;
    left: 80%;
}

.show p {
    padding: 10px 15px;
    font-size: 12px;
}

.show p:nth-child(4){
    text-align: right;
}

.numlike {
    width: 5%;
    height: auto;
}

footer {
    background: #777;
    margin-top: 30px;
}

footer p {
    font-size: 11px;
    padding: 30px 0 30px 20px;
}

nav.main{
    width:300px;
    margin:0 auto;
}

ul#gallery_selection {
    display: none;
}


a#gallery_button {
    cursor:pointer;
}