@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** END of RESET *****/ 
/***for all***/
body {
    font-family: arial, clean, sans-serif;
    
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}

hr {
    width: 90%;
 
}

.clear {
    clear: both;
}

/***home page***/
#searchbox
{
    float: left;  
    padding: 15px 0 0 5%;
}

#search {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-width: thin;
    border-color: #777; 
}
input {
    color: #333;
}
#submit {
    border:none;
    background: #eee;
}

.logo p {
    margin: 70px 0;
    text-align: center;
}

.meta {
    text-align: right;
    padding: 15px 5% 0 0;
}

.meta ul li {
    display: inline-block; 
    font-size: 11px;
    font-family: arial, clean, sans-serif;
    font-weight: 300;
    padding-right: 3%;
}

.meta ul li:last-child {
    padding-right: 0;
}



.main {
    text-align: center;
    position: relative;
}

.main ul li {
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    padding-right: 5%;
}

.main ul li:last-child {
    padding-right: 0;
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul ul {
    position: absolute;
    display: none;
}

nav ul li:hover ul {
    display: block;
    margin: 10px;
    padding: 5px;
    background: #eee;
}


/***nav ul li:hover>ul li{
    float: none; 
    display: block;
}

nav ul li:hover>ul li a {
    color: #666;
    min-width: 150px;
}

nav ul li:hover>ul li a:hover {
    color:#fff;
}



nav ul li ul {
    position: absolute;
}***/


.show {
    position: relative;
    left: 0;
    right: 0;
    margin: 30px 0 0 5%;
    width: 26.666666%;
    float: left;
    background: #eee;
}

.mainimg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.like {
    width: 15%;
    height: auto;
    position: absolute;
    top: 20px;
    left: 80%;
}

.show p {
    padding: 20px 10px;
    font-size: 12px;
}

footer {
    background: #777;
    margin-top: 30px;
}

footer p {
    font-size: 11px;
    padding: 30px 0 30px 20px;
}